<!DOCTYPE html>
<html class="scroll-smooth">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Brandon Clément</title>

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
  @inertiaHead()
</head>

<body class="bg-gray-50">
  @inertia()
</body>

</html>